In [164]:
import numpy as np
import pandas as pd

In [165]:
from sklearn.model_selection import train_test_split , cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer

In [166]:
df = pd.read_csv('../../datasets/titanic.csv', usecols = ['Age' , 'Fare' , 'SibSp' , 'Parch' , 'Survived'])

In [167]:
df.head()

   Survived   Age  SibSp  Parch     Fare
0         0  22.0      1      0   7.2500
1         1  38.0      1      0  71.2833
2         1  26.0      0      0   7.9250
3         1  35.0      1      0  53.1000
4         0  35.0      0      0   8.0500

In [168]:
df.isnull().sum()

Survived      0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [169]:
df.dropna(inplace = True)

In [170]:
df['family'] = df['SibSp'] + df['Parch']
df.drop(columns = ['SibSp','Parch'] , inplace=True)

In [171]:
df

     Survived   Age     Fare  family
0           0  22.0   7.2500       1
1           1  38.0  71.2833       1
2           1  26.0   7.9250       0
3           1  35.0  53.1000       1
4           0  35.0   8.0500       0
..        ...   ...      ...     ...
885         0  39.0  29.1250       5
886         0  27.0  13.0000       0
887         1  19.0  30.0000       0
889         1  26.0  30.0000       0
890         0  32.0   7.7500       0

[714 rows x 4 columns]

In [172]:
x = df.drop(columns = ['Survived'])
y = df['Survived']

In [173]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.2 , random_state = 42)

In [174]:
x_train.head()

      Age     Fare  family
328  31.0  20.5250       2
73   26.0  14.4542       1
253  30.0  16.1000       1
719  33.0   7.7750       0
666  25.0  13.0000       0

In [175]:
clf = DecisionTreeClassifier()
clf.fit(x_train , y_train)
y_pred = clf.predict(x_test)
print(accuracy_score(y_test , y_pred))
print(np.mean(cross_val_score(DecisionTreeClassifier() , x , y , cv = 10 , scoring = 'accuracy')))

0.6363636363636364
0.6555164319248826

In [176]:
# Binarization by default Binarizer threshold is 1 

from sklearn.preprocessing import Binarizer
trf = ColumnTransformer([('bin' , Binarizer(copy=False , threshold = 0) , ['family'])] , remainder = 'passthrough')

x_train_transformed = trf.fit_transform(x_train)
x_test_transformed = trf.fit_transform(x_test)
pd.DataFrame(x_train_transformed , columns = ['Family' , 'Age' , 'Fare'])

     Family   Age      Fare
0       1.0  31.0   20.5250
1       1.0  26.0   14.4542
2       1.0  30.0   16.1000
3       0.0  33.0    7.7750
4       0.0  25.0   13.0000
..      ...   ...       ...
566     1.0  46.0   61.1750
567     0.0  25.0   13.0000
568     0.0  41.0  134.5000
569     1.0  33.0   20.5250
570     0.0  33.0    7.8958

[571 rows x 3 columns]

In [177]:
clf = DecisionTreeClassifier()
clf.fit(x_train_transformed , y_train)
y_pred = clf.predict(x_test_transformed)
accuracy_score(y_test , y_pred)

0.6013986013986014

In [178]:
x_trf = trf.fit_transform(x)
np.mean(cross_val_score(DecisionTreeClassifier() , x_trf , y , cv = 10 , scoring = 'accuracy'))

np.float64(0.6233763693270735)