In [1]:
import numpy as np 
import pandas as pd 
import matplotlib as plt 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv('../../datasets/titanic.csv',usecols=['Survived' , 'SibSp' , 'Parch' , 'Fare' , 'Pclass'] )
df.head()
df.corr(numeric_only=True)

          Survived    Pclass     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000  0.083081  0.018443 -0.549500
SibSp    -0.035322  0.083081  1.000000  0.414838  0.159651
Parch     0.081629  0.018443  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.159651  0.216225  1.000000

In [3]:
x = df.iloc[: , 1 : ]
y = df['Survived']

In [4]:
def logisic(x , y) : 
    x_train , x_test, y_train , y_test = train_test_split(x , y, test_size=0.2  , random_state=42)
    model = LogisticRegression() 
    model.fit(x_train , y_train) 
    y_pred = model.predict(x_test)
    print(accuracy_score(y_test , y_pred))
    print(cross_val_score(LogisticRegression() , x , y , cv  = 5 , scoring = 'accuracy'))
logisic(x, y)

0.7150837988826816
[0.61452514 0.68539326 0.6741573  0.70224719 0.74157303]

In [5]:
x['family'] = x['SibSp'] + x['Parch'] + 1
x.drop(['SibSp' , 'Parch'] , axis = 1 , inplace = True)
x

     Pclass     Fare  family
0         3   7.2500       2
1         1  71.2833       2
2         3   7.9250       1
3         1  53.1000       2
4         3   8.0500       1
..      ...      ...     ...
886       2  13.0000       1
887       1  30.0000       1
888       3  23.4500       4
889       1  30.0000       1
890       3   7.7500       1

[891 rows x 3 columns]

In [6]:
def mfunction(num) : 
    if num == 1 : 
        return 0 
    elif num > 1 and num <= 4 : 
        return 1 
    else : 
        return 2

In [7]:
x['family'] = x['family'].apply(mfunction)

In [8]:
logisic(x , y)

0.7039106145251397
[0.59776536 0.6741573  0.6741573  0.71910112 0.73033708]